{% extends "base.html" %}
{% load static %}

{% block title %}HomePage{% endblock  %}
{% block contents %}

<style>

.post_image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.post_title {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.post_description {
    font-size: 1.2em;
    color: #666;
    text-align: center;
    margin-top: 10px;
}

.post_container {
    padding: 20px;
    text-align: center;
}

.post_detail {
    max-width: 800px;
    margin: 0 auto;
}

h3.post_description {
    margin: 10px 0;
}

</style>
<img src="{{ post.image }}" width=400 height=400 alt="{{ post.post_title }}" class="post_image">
<h2 class="post_title">{{ post.post_title }}</h2>
<h3 class="post_description">{{ post.post_description }}</h3>
<h3 class="post_description">{{ post.id }}</h3>
<h3 class="post_description">{{ post.posted_at }}</h3>
<h3 class="post_description">{{ post.posted_by }}</h3>

{% endblock contents %}