<div class="container-fluid ">
  <header class="d-flex justify-content-center py-3 border-bottom">
    <ul class="nav nav-pills">
      <li class="nav-item h1"><a href="home" class="nav-link "><b>Home</b></a></li>
      <li class="nav-item h1"><a href="aboutus" class="nav-link "><b>About us</b></a></li>
      <li class="nav-item h1"><a href="posts" class="nav-link "><b>Posts</b></a></li>
      <li class="nav-item h1"><a href="form" class="nav-link "><b>Form</b></a></li>
    </ul>
  </header>
</div>