{% extends "base.html" %}
{% load static %}

{% block title %}HomePage{% endblock  %}
{% block contents %}
<center>
    <h1>About us :</h1>
</center>
</br>
Digital FIRST mindset is our strong strategy. We enable and fast-track you into the digital era by improving your operational efficiency, envisioning and building remarkable customer experiences and innovative new business avenues.</br>

We specialize in transformation solutions that covers Hyper Automation led solutions & services, Cloud Architecture & Technology services and Performance Engineering & Automated Testing services. We deliver best-in-class digital solutions for our customers using Design Thinking methodology, powered by Agile based SAFe, DevOps practices and leveraging technology partnerships with market leading platform providers.</br>

Changepond is driven by its conviction to provide Lasting Solutions and Creating Trust in everything we do. The combination of pioneering product technology experiences, strong engineering and finance backgrounds and successful business minds make for a vibrant nucleus keeping us consistently ahead off the curve.</br>
{% endblock contents %}